* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    background-color: #F5F7FB;
}

.home-screen {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.questions-container {
    min-height: 80vh;
    position: relative;
    padding: 3% 15%;
    display: flex;
    justify-content: center;
}

form {
    display: grid;
    gap: 20px;
    display: inline-block;
    margin: 0 auto;
}

.question-container {
    margin-top: 30px;
}

.question-container h3 {
    max-width: 50ch;
    font-size: 23px;
    color: #293264;
    text-align: left;
    margin-bottom: 10px;
}

.home-container {
    text-align: center;
}

.home-heading {
    color: #293264;
    font-size: 60px;
    font-weight: 700;
    font-family: 'Karla', sans-serif;
}

.home-description {
    color: #293264;
    margin: 10px 0 30px;
    font-size: 20px;
}

.home-button {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    margin-top: 30px;
    padding: 10px 40px;
    background-color: #4D5B9E;
    color: #fff;
}

.answer-button {
    background-color: #fff;
    color: #293264;
    border: 1px solid #293264;
    cursor: pointer;
    margin: 5px 10px;
    padding: 10px 20px;
    border-radius: 10px;
}

.answer-button.active {
    background-color: #D6DBF5;
}

.answer-button.correct {
    background-color: #88da9a;
}

.answer-button.wrong {
    background-color: #F8BCBC;
    opacity: 0.4;
}

.score-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.score-container p {
    color: #293264;
    font-weight: bold;
}

.disabled {
    pointer-events: none;
}